.Intro{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    flex-direction:row;
    width: 100%;
    min-width: 500px;
    height: 100vh;
    background-color: white;
}

.find-password > a{
    text-decoration-line: none;
    color:black;
}

.register > a{
    text-decoration-line: none;
    color:black;
}
.regi_box{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    width:150px;
}

.form-control{
    width:300px;
    font-size:20px;
}

.wrap{
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    width:320px;
    height:100px;
}